<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StoreDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\c#-projects\wpfapp\online-store\online-store\OnlineStoreDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>	